<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Табель учёта рабочего времени</title>
    <meta name="author" content="Furmanov Sergey">
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/56bf499e7e.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <button id="btOnlyWorkDays" class="btn btn-top-menu" onclick="SaveWorkedDays('false', 'true')" disabled>
                                <img src="~/img/OnlyWorkDays.png" alt="5/2">
                                <p>5/2</p>
                            </button>
                        </li>
                        <li>
                            <button id="btAllDays" class="btn btn-top-menu" onclick="SaveWorkedDays('true', 'true')" disabled>
                                <img src="~/img/AllDays.png" alt="Все дни">
                                <p>Все дни</p>
                            </button>
                        </li>
                        <li>
                            <button id="btNoDays" class="btn btn-top-menu" onclick="SaveWorkedDays('false', 'false')" disabled>
                                <img src="~/img/NoDays.png" alt="Удалить дни">
                                <p>Удалить дни</p>
                            </button>
                        </li>
                        <li>
                            <h4>
                                @User.Identity.Name
                            </h4>
                        </li>
                        <li><h4> | </h4></li>
                        <li>
                            <h4>
                                <a class="text-danger" asp-controller="Account" asp-action="Logout">Выход</a>
                            </h4>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <h4>
                                <a asp-controller="Account" asp-action="Login">Вход</a>
                            </h4>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            Furmanov &copy; 2020
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>